altgraph==0.17.2
auto-py-to-exe==2.15.0
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
docutils==0.18.1
Eel==0.12.4
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
idna==3.3
Kivy==2.0.0
kivy-deps.angle==0.3.1
kivy-deps.glew==0.3.0
kivy-deps.gstreamer==0.3.3
kivy-deps.sdl2==0.3.1
Kivy-examples==2.0.0
Kivy-Garden==0.1.4
kivymd==0.104.2
monotonic==1.6
pefile==2021.9.3
Pillow==9.0.0
plyer==2.0.0
pycparser==2.21
Pygments==2.11.2
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.0
pyperclip==1.8.2
pypiwin32==223
pywin32==303
pywin32-ctypes==0.2.0
requests==2.27.1
urllib3==1.26.8
watchdog==2.1.6
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.4.0
